<h4>Domain Ranking Database Query</h4>
<br>

<h5> Submit domain name to query MAJESTIC database </h5>
<form action="/majestic/domain/no_idx" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit domain name to query MAJESTIC_INDEX1 database </h5>
<form action="/majestic/domain/idx1" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit domain name to query MAJESTIC_INDEX2 database </h5>
<form action="/majestic/domain/idx2" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit domain name to query MAJESTIC_INDEX3 database </h5>
<form action="/majestic/domain/idx3" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit TLD name to query MAJESTIC database </h5>
<form action="/majestic/tld/no_idx" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit TLD name to query MAJESTIC_INDEX1 database </h5>
<form action="/majestic/tld/idx1" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit TLD name to query MAJESTIC_INDEX2 database </h5>
<form action="/majestic/tld/idx2" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h5> Submit TLD name to query MAJESTIC_INDEX3 database </h5>
<form action="/majestic/tld/idx3" method="post">
  Domain: <br>
    <input type="text" name="domain" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>